project:
  type: website
  
website:
  page-navigation: true
  title: "Openscapes Approach Guide" 
  site-url: https://openscapes.github.io/approach-guide
  
  repo-url: https://github.com/openscapes/approach-guide
  repo-actions: [edit, issue]
  
  page-footer: 
    right: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    left: "&copy; CC-By Openscapes Core Team, Julia Stewart Lowndes & Erin Robinson (2022). Openscapes Approach Guide (Version v0.0.1)."
        
  sidebar:
    logo: images/openscapes_hex.png
    align: center
    tools: 
      - icon: globe
        href: https://openscapes.org
        text: "Openscapes.org"
      - icon: github
        href: https://github.com/openscapes/approach-guide
        text: "Openscapes Approach Guide GitHub"
      - icon: twitter
        href: https://twitter.com/openscapes
        text: "Openscapes Twitter" 
  
    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: "index.qmd"
        text: Welcome
      - section: approach/index.qmd
        contents:  
          - approach/code-of-conduct.md
          - approach/seaside-chats.qmd
          - approach/onboarding.md
          - approach/tooling.md
          - approach/documentation.qmd
          - approach/partners.md
          - approach/calendar.md
          - approach/qual-assessment.qmd
      - section: champions/index.qmd
        contents:
          - champions/design.md
          - champions/cohort-planning.md
          - champions/pre-cohort-engage.qmd
          - champions/pre-cohort-tech.qmd
          - champions/lessons.qmd
          - champions/leading-cohort-calls.qmd
          - champions/post-cohort-followup.qmd
      - section: contributing/index.qmd
        contents:
          - contributing/setup.qmd
          - contributing/workflow.md
          - contributing/inspiration.md

format:
  html:
    theme:
      light: cosmo
      dark: [cosmo, theme-dark.scss]
    code-background: true
    code-copy: true
    css: styles.css
    toc: true 
    
filters:
  - include-files.lua
  - quarto    
